/* Colors */

@import '../../.cache/wal/colors-waybar.css';
@define-color background #32302F;
@define-color groupbackground #C3C8C6;
@define-color buttoncolor #504945;
@define-color bordercolor @color11;
@define-color fontcolor #282828;

* {
    font-family: "MesloLGS Nerd Font Mono";
}

/* Control Center */

.control-center {
    border: 3px solid @bordercolor;
    padding: 10px;
}

button {
    border: 0px;
    min-width: 35px;
    background: @buttoncolor;
}

.notification-group-header {
    font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin:5px;
}

/* Notification */

.notification {
    border: 3px solid @bordercolor;
	border-radius: 2px;
    padding:10px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: #282828;
    background: transparent;
}
